<div class="row">
  <div class="container">
    <div class="col-12">
      <div class="col-6 pure-form">
        <input name="search" [(ngModel)]="searchString" (keyup)="search(searchString)" placeholder="Filter" type="text">
      </div>
      <div class="col-6">
        <div class="col-6"><button class="pure-button" [disabled]="!peopleSelected.length" (click)="delete(null, true)">Delete Selection <span *ngIf="peopleSelected.length">({{peopleSelected.length}})</span></button></div>
        <div class="col-6"><button class="pure-button" (click)="download()">Download</button></div>
      </div>
    </div>
  </div>
</div>

<!-- TABLE DISPLAY-->
<div *ngIf="!showGrid" class="row">
  <div class="container">
    <!--
      Table with the back-end data.
    -->
    <table>
      <thead>
        <tr #headers>
          <th *ngFor="let header of tableHeaders">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr id=people *ngFor="let person of people" id=mainDataElement>
          <td><input class="check-box" type="checkbox" (click)="selectCheckbox(person)"></td>
          <td>{{person.id}}</td>
          <td id=firstName>{{person.firstName}}</td>
          <td id=lastName>{{person.lastName}}</td>
          <td>{{person.age}}</td>
          <td id="showPersonBtnParent">
            <button class="margin-button pure-button pure-button-primary" id="showPersonBtn" (click)="show(person)">Show</button>
            <button class="margin-button pure-button pure-button-error" (click)="delete(person)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--GRID DISPLAY -->
<div *ngIf="showGrid" class="row">
    <div class="container">
        <div id=people *ngFor="let person of people" class="col-3 box-content grid-layout">
            
            <div class="box card">
              <div  class="box-body">
                  <div class="FLeft">
                      <div class="col-12">
                          <div class="row">
                            <div class="col-12" id=mainDataElement>
                              First Name: <span id=firstName>{{person.firstName}}</span><br>
                              Last Name: <span id=lastName>{{person.lastName}}</span>
                            </div>
                            <small>
                                <b>
                                  Id: {{person.id}}
                                </b> 
                            </small>
                            <br>
                            <small>
                              <b>
                                Age: {{person.age}}
                              </b>
                            </small>
                          </div>
                          
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-12 MTop15">
                      {{person.description}}
                    </div>
                    <div class="col-12 MTop15" id="showPersonBtnParent">
                        <input  type="checkbox" (click)="selectCheckbox(person)">
                        <button class="margin-button pure-button pure-button-primary" id="showPersonBtn" (click)="show(person)">Show</button>
                        <button class="margin-button pure-button pure-button-error" (click)="delete(person)">Delete</button>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>