<div class="row" *ngIf="person">
    <div class="container">
        <div class="col-12 box-content">
            <div class="box card">
                <form (ngSubmit)="save(personFormGroup)" [formGroup]="personFormGroup">
                    <div class="container buttons col-12">
                            <button id=saveBtn class="MTop10 margin-button pure-button pure-button-primary" [disabled]="personFormGroup.invalid" type="submit">Save</button> 
                            <button type="button" class="MTop10 margin-button pure-button" (click)="cancel(personFormGroup)">Cancel</button>
                    </div>
                    <div  class="box-body">
                        <div class="FLeft">
                            <div class="col-12">
                                <div class="row pure-form pure-form-stacked">
                                    <div class="pure-control-group">
                                        <label for="firstName">First Name:</label>
                                        <input id=firstNameInput required type="text" name="firstName" formControlName="firstName"><br>
                                        <div *ngIf="personFormGroup.get('firstName').errors">
                                            <span id='specialCharacters' *ngIf="personFormGroup.get('firstName').errors.pattern && (personFormGroup.get('firstName').dirty || personFormGroup.get('firstName').touched)" class="error"><small>Please, do not use special characters, or numbers.</small><br></span>
                                            <span *ngIf="personFormGroup.get('firstName').errors.required && personFormGroup.get('firstName').touched" class="error"><small>First Name is a required field.</small></span>
                                        </div>
                                    </div>
                                    <div class="pure-control-group">
                                        <label for="lastName">Last Name:</label>
                                        <input id=lastNameInput required type="text" name=lastName formControlName="lastName"><br>
                                        <div *ngIf="personFormGroup.get('lastName').errors">
                                            <span *ngIf="personFormGroup.get('lastName').errors.pattern && (personFormGroup.get('lastName').dirty || personFormGroup.get('lastName').touched)" class="error"><small>Please, do not use special characters, or numbers.</small><br></span>
                                            <span *ngIf="personFormGroup.get('lastName').errors.required && personFormGroup.get('lastName').touched" class="error"><small>Last Name is a required field.</small></span>
                                        </div>
                                    </div>
                                    <div class="pure-controls">
                                        <small>
                                            Id: {{person.id}}
                                        </small>
                                        <br>
                                        <small>
                                            Age: {{person.age}}
                                        </small>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <p>
                            {{person.description}}
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>