#not-found {
    background-color: rgb(216, 216, 216)
}

.container {
    width: 80%;
    margin: 0 auto 0 auto;
}

.not-found {
    text-align: center;
    margin-top: 25%;
    font-family: 'Times New Roman', Times, serif
}


